@import "../variables"

.information-page
  font-size: 16px

  h1
    font-size: 32px

  h2
    margin: 16px 0

  p
    font-size: 16px
    margin: 16px 0

  a
    color: $primary-color

    &:hover
      text-decoration: underline

  ul
    list-style: inherit
    padding-left: 1em

    li
      line-height: 1.5
