extends ../partials/layout
include ../mixins/card

append config
  - var pageTitle = category.name
  - var description = `All noods in the ${category.name} category`
  - var ogImagePath = `${baseURL}/assets/img/noods/${filteredEntries[0].picture.fileName}`

block body
  div.content.content-category
    h1.title= category.name
    ul.card-grid
      each entry in filteredEntries
        +card(entry)
