extends ../partials/layout
include ../mixins/card

append config
  - var pageTitle = category.name

block body
  div.content.content-category
    h1.title= category.name
    ul.card-grid
      each entry in filteredEntries
        +card(entry)
