@import variables
  
.card-grid
  display: grid
  justify-content: center
  align-content: center
  grid-template-rows: auto
  grid-template-columns: repeat(4, 1fr)
  grid-row-gap: 16px
  grid-column-gap: 16px
  padding: 20px 0
  color: #6b6b6b
  font-size: 12px

  @media screen and (min-width: 1200px)
    grid-template-columns: repeat(5, 1fr)

  .card
    display: inline-block
    width: 100%

    div
      margin-bottom: 4px

    .card-title
      font-size: 14px

    .card-image-wrapper
      width: 100%
      aspect-ratio: 1.8
      overflow: hidden
      position: relative
      background-color: $video-loading-color

      &:hover::after
        @keyframes loadingIndicator
          from
            right: 100%
          to
            right: 0
        animation-duration: 0.5s
        animation-name: loadingIndicator

      &::after
        content: ""
        position: absolute
        background: $primary-color
        left: 0
        right: 100%
        top: 0
        height: 4px
        transition: all 0s
        transition-timing-function: linear
        overflow: hidden

      img
        width: 100%
        height: auto

        &.inverted
          transform: scaleX(-1)

        
