@import normalize
@import layout
@import partials
@import variables

@import views/view

body
  font: 100%
  background: $background
  display: grid
  color: #fff

h1
  font-size: 1.5em

p
  font-size: 18px
  line-height: 1.5

::selection
  background: $primary-color
  color: #000

a
  color: #fff

  &.color-inherit
    color: inherit

  &:hover
    color: $primary-color

.centered
  text-align: center

ul
  list-style: none

img
  max-width: 100%

#container
  overflow: hidden
  box-shadow: 0px 5px 10px #999999
  z-index: 2

.content
  max-width: $content-width
  width: 100%
  margin: 0 auto

.divider
  border-top: 1px solid #202020

img.icon
  display: inline-block
  width: 24px
  height: 24px
  // White filter
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(62deg) brightness(101%) contrast(102%)
