@import normalize
@import partials
@import variables

body
  font: 100%
  background: $background
  display: grid

.title
  font-size: 84px
  margin-bottom: 0

.subtitle
  font-weight: normal
  font-size: 24px

p
  font-size: 18px
  line-height: 1.5

::selection
  background: $primary-color
  color: #000

a
  color: $primary-color
  font-weight: bold

.centered
  text-align: center

ul
  list-style: none

  li.position
    padding-bottom: $container-padding

    span
      display: block
    small
      font-style: italic

#container
  overflow: hidden
  box-shadow: 0px 5px 10px #999999
  z-index: 2

#logos
  display: grid
  padding: 32px
  grid-template-columns: repeat(4, 1fr)
  grid-column-gap: 64px

  img
    width: 100%

.content
  max-width: $content-width
  margin: 0 auto