extends ./partials/layout

append config
  - var pageTitle = "Community"
  - var description = "See how our community is slurping up hundreds of noods all around the world. Even preview some of our members having existential crisis for free!"

block body
  div.content.content-noodstars
    h1.title Community
    p Work in progress...
