include partials/header

div.content
  each section in sections
    h1.title= section.title
    ul.card-grid
      each entry in section.entries
        li.card
          div.card-image-wrapper
            - var imgPath = "/assets/img/noods/" + entry.picture.fileName
            img(src=imgPath)
          - var url = "/entry/" + entry.id
          a(href=url).card-title= entry.title
