extends ./partials/layout
include ./mixins/card

append config
  - var pageTitle = "Home"

block body
  div.content.content-index
    each section in sections
      h1.title= section.title
      ul.card-grid
        each entryId in section.entries
          - const entry = entries[entryId]
          +card(entry)
