extends ./partials/layout
include ./mixins/card

append config
  - var pageTitle = "Home"
  - var description = "Nood.pics is the world's leading free noods site. Choose from hundreds of steaming hot noods right at your fingertips."

block body
  div.content.content-index
    each section in sections
      h1.title= section.title
      ul.card-grid
        each entryId in section.entries
          - const entry = entries[entryId]
          +card(entry)
