include partials/header

div.content
  h1.title Hot Nood Videos in the United States
  ul.card-grid
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
    li.card
      div.card-image-wrapper
        img(src="assets/img/noods/noods.jpg")
      a(href="#").card-title Hot noods in your area
