navbar#navbar
    .content
        .flex-container
            .logo
                a(href="/")
                    include nood-logo.svg
            .links
                .link#home
                    a(href="/") Home
                .link#about
                    a(href="/about") Nood Videos
                .link#categories
                    a(href="/categories") Categories
                .link#live-cams
                    a(href="/live-cams") Live Cams
                .link#noodstars
                    a(href="/noodstars") Noodstars
                .link#community
                    a(href="/community") Community
                .link#photos
                    a(href="/photos") Photos &amp; GIFS
            .cta
                a(href="#") Upload
