extends ../partials/layout

append config
  - var pageTitle = "DMCA"

block body
  div.content.information-page
    h1.title DMCA
    p The Digital Millenium Copyright Act, hereafter referred to as the DMCA, is a tool that music record companies and fake publishers abuse to destroy content creation and fair use. However, in rare circumstances, it can be used to legitimately take down copyrighted material by the rights-holder. If you are a rights-holder and wish to issue a takedown notice, this page will further detail the process for doing so. As with all pages on this website, this isn't legal advice and should not be taken as such.
    p Due to the random nature of this website and the content from which it derives that randomness, I strongly encourage you to take screenshots and collect as much evidence as you can before submitting any claims. If you choose to issue a takedown notice, please be advised that you are swearing to the submitted facts #[a.color-primary(href="https://www.govinfo.gov/content/pkg/USCODE-2011-title18/html/USCODE-2011-title18-partI-chap79-sec1621.htm") under penalty of perjury]. Do not make any false claims as this will result in legal consequences, and more importantly I will be pissed off.
    h2 Before You File
    p Note than I'm just one person maintaining a silly website for entertainment purposes. I stand to gain nothing from intentionally infringing on any copyrighted works. Any alleged infringements would likely be accidental, and you can very easily reach me by any of the contact methods #[a.color-primary(href="https://github.com/Abbondanzo/") listed here] without having to file a DMCA takedown notice.
    h2 Filing a Takedown Notice
    p You may file a takedown notice by filing a GitHub issue on the repository where this code is hosted at #[a.color-primary(href="https://github.com/Abbondanzo/noodles/issues") this location]. A takedown notice should be as detailed as possible, and could include the following information: 
    ul
      li The date and time at which the website was accessed. Again, due to the randomness in which this site is generated, content on the page may be different between visits.
      li The full URL to where the copyrighted content is visible. If you do not include this specific information, it may be impossible to locate the copyrighted material.
      li A screenshot containing as much of the copyrighted work in the context of the page.
      li An explanation of what I can do in order to remedy the copyright infringement. Do you require attribution, partial redaction, or full deletion of said  piece of content?
      li Information by which I can contact you. Include your name, email address, telephone number, physical address, social security number, mother's maiden name, childhood best friend, first teacher's name, and any other security question answers that you might recall. The first four are required.
      li A statement acknowledging that you believe, in good faith, that use of copyrighted materials is not authorized by the copyright owner, or an authorized agent, and that fair use has been taken into consideration.
      li A statement in which you swear, under penalty of perjury, that you are the owner or an authorized agent acting on behalf of the owner, of an exlusive right that is allegedly infringed. 
      li A statement that you acknowledge that you're a bore at parties and you probably put your milk in before the cereal.
      li Lastly, a physical or electronic signature.
    p If you fail to comply with all of these requirements as described in U.S. Code &#167; 512(c)(3) of the DMCA, Elements of Notification, your DMCA takedown notice will not be considered.
    p The owner's name will be displayed in place of any infringing copyrighted content. By filing a DMCA takedown notice, you agree to have this information, as well as your description of the allegedly infringed work, revealed publicly. 
