extends ../partials/layout

append config
  - var pageTitle = "FAQ"

block body
  div.content.information-page
    h1.title FAQ
    h2 What the hell is this?
    p It's a pet project I created after a friend reached out to our group chat. He was about to let go of this wonderful domain, and I could not let it go to waste. Originally, it was his idea and so I give him full credit. I'm just the poor sucker who threw several nights at this to code it.
    h2 What exactly is the concept?
    p In case you're too dense to get the joke, it's a play on words. Noods is short for noodles, while noods also sounds like nudes. Hence, modeled after a similar website where people post #[i nude] pictures (of humans), I have created a site where people can post #[i nood] pictures (of noodles).
    h2 What do you consider a noodle?
    p Literally anything you could classify as a strip of dough. Ramen, spaghetti, penne&mdash;hell, even lasagna. However, I will not stand by while you rot my brain attempting to explain how gnocchi is a noodle. It's a dumpling you dense cabbage.
    h2 How does it work?
    p This site's data is entirely contained in a handful of text files located #[a.color-primary(href="https://github.com/Abbondanzo/noodles/tree/master/data") here]. Every time a change is made there, that data is scrambled up at random and each of the pages are generated as you view them here. A template engine powers the whole thing so I don't have to write all this code by hand.
    h2 Can I interact with the site?
    p No, all of the data is static. You cannot impact things like views, likes, or subscribers as this data is generated once.
    h2 How come all the content has changed when I refreshed the site?
    p Each time a change is made, either to the data or to the code that powers the site, all of the data is regenerated completely from scratch. This means that random data, like views, subscribers, etc. is brand new, while images, titles, categories, and brands are all rematched.
    h2 Why can't I watch any videos?
    p All of the pictures are just that, #[i pictures]. The play button is just for show.
    h2 Hey, wait a minute, this site looks familiar
    p That's not a question, and yes it does.
    h2 Can I upload my own pictures?
    p Abso-freaking-lutely! All of the titles, pictures, brands, and other text-based content is powered by users just like you. To upload something, just click that bright orange "Upload" button in the upper, right-hand corner.
    h2 How long does it take for my uploaded content to appear?
    p Every upload is manually reviewed by yours truly. When a request is made to add new content, I will try my best to approve it within 48 hours.
    h2 Are there user accounts I can log into?
    p No, go away.
    h2 Do you think God stays in heaven because He too lives in fear of what He has created?
    p Yes, #[a.color-primary(href="https://www.youtube.com/watch?v=0fPRO2SApO8") Steve Buscemi], yes I do.
