extends ../partials/layout

append config
  - var pageTitle = "Parental Controls"

block body
  div.content.information-page
    h1.title Parental Controls
    p It's a site about noodles, you fruit cake.
