extends ../partials/layout

append config
  - var pageTitle = "Privacy Policy"

block body
  div.content.information-page
    h1.title Privacy Policy
    span Last modified #{new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
    p I respect your privacy so much that I will not collect any information about you. I am committed to protecting your personal data because #[strike I am too lazy to set up analytics and trackers] I believe that no one should be alienated and targeted for their spicy noodle addictions.
    h2 What information Nood.Pictures collects
    p None
    h2 How Nood.Pictures uses your Information
    p We don't. But if you send us your information in a PR or via the email address linked on #[a.color-primary(href="https://github.com/Abbondanzo/") a certain GitHub profile], here are some of the things that we #[i could] do with it:
    ul
      li Commit tax fraud
      li Squat domains related to your surname 
      li Find your mother on Whitepages and call her up to tell you that you're a nice person
        ul
          li Alternatively, we could tell another family member
      li Subscribe you to random mailing lists once per month, but the kind that say "Your email will be removed from this mailing list in the next 24 hours" when you try to unsubscribe, thereby leaving you unsure if you've actually been unsubscribed or not but you still keep getting emails from them. Because it's not like they #[i can't] remove your email from that list immediately, they're just incredibly shady.
    h2 How we share the information we collect
    p Again, we don't collect information in the first place
    h2 How you can access and control the information we collect
    p You can't. It's ours now forever
    h2 Are you just ripping off other Privacy Policy agreements to fill this page with filler content?
    p Yes, that is exactly what I'm doing. I am not a lawyer, so who am I not to appreciate the work that other lawyers have done?
